<html>
    <!--This is a TEMPLATE for blog posts-->
    <!--Duplicate to customize-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>

    <head>
        <title> Lucy's Thoughts </title>
        <link rel="stylesheet" href="/style.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
        <script src="/load.js"></script> 
    </head>

    <body>
        <div class = "column left side">
            <div id = "nav"></div>
        </div>


        <div class="column middle">
            <h1>
                Title
            </h1>

            <div class = "blogDate">
                October 100th, 2025 
            </div>

            <img src = "https://www.yorkstonguesthouse.co.uk/wp-content/uploads/2017/09/Rectangle-1920x1080-Placeholder.png"
                width = 100%
                alt = "header image, from blog link">
            <p>

            </p>

            <article>
                This is some introductory text. IDK have it here. for fun!
            </article>

            <div class = "section title">
                section title!
            </div>
            <article>

                <p>
                    This is text that goes in the article box. It's where the ideas go!
                </p>
                <p>
                    This is more text! 
                </p>

                <pre> <code class="language-javascript">help <- mosaicData::HELPfull
                    help <- help |>
                      select(ALCOHOL, LINKSTATUS, GROUP, DRINKSTATUS, DAYSDRINK) |>
                      drop_na(DRINKSTATUS) |>
                      filter(DAYSDRINK != 0)
                </code>
                </pre>

                <!--begin.rcode
                libray(tidyverse)
                end.rcode-->


            </article>
    </body>

</html>